.BoardListArea {
    background-color: #FDF6F0;
    margin-left: 115.85px;
    margin-right: 115.85px;
    margin-top: 0%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid #e76c42;
    box-sizing: border-box;
    box-shadow: 0px 40px 60px -15px rgba(235, 141, 108, 0.27);
    padding-top: 22px;
    padding-bottom: 22px;

}