.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    position: static;
    width: 33.33%;
    height: 200px;
    left: 32px;
    top: 14px;
    padding: 25px 10px;

    font: Public Sans 400;
    font-size: 15px;
    line-height: 150%;
    overflow-wrap: break-word;
    /* or 22px */
    color: #000000;
    opacity: 0.7;

    flex: none;
    /* order: 0;
    align-self:center;
    flex-grow: 0; */
    margin: 10px 0px;
    list-style: none;
    justify-content:space-evenly;

    background: #EBCAA8;
    border: 3px solid #FDF6F0;
    box-sizing: border-box;
    box-shadow: 0px 40px 60px -15px rgba(235, 141, 108, 0.27);
    border-radius: 12px;
}
li {
    padding-bottom: 5px;
}

.message {
    font-weight: bold;
    padding-bottom: 20px;
    grid-area: 1/1/2/3;
    
    height: 100px;
    /* overflow: scroll; */
}

.likes {
    grid-area: 2/1/3/2;
    height: 30px;
    margin-bottom: 0%;
}

.delete {
    grid-area: 2/2/3/3;
    height: 30px;
}

.likes:hover {
    cursor: pointer;
}

.delete:hover {
    cursor: pointer;
}