.container {
  margin-top: 3em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.App {
  text-align: center;
  grid-template-columns: 50% 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 2% 0% 2%;
  grid-area: 1 / 1 / 2 / 3;
  font-family: Public Sans;
  color:black;
  font-weight: 900;
  font-size: 92px;
  line-height: 150%;
  letter-spacing: -8.5px;
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  grid-area: 1 / 2 / 2 / 2;
  background-color: #F6F6F6;
  height: auto;
  width: auto;
  overflow: auto;
  box-shadow: 38px 50px 90px 80px rgba(114, 42, 16, 0.26);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  font-family: PublicSans;
}

html {
  background-color: #EB8D6C;
  font-family:Public Sans;
}
h2 {
  display: block;
  margin: 0% 10%; 
  padding: 0;
}

.BoardList {
  grid-area: 2 / 1 / 3 / 2;
  min-height: 100px;
}

.NewBoardForm {
  grid-area: 2 / 2 / 3 / 3; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.NewBoardForm h2 {
  text-align: center;
  margin-right: 140px;
}

.CardList {
  grid-area: 3 / 1 / 4 / 3;
  border: 40px solid outset rgb(249, 246, 246);
  max-height: 75vh;
  overflow-y: scroll;
  padding-top: 20px;
  box-shadow: 0px 25px 20px -26px rgba(62, 52, 41, 0.187) inset, 5px 5px 10px 1px rgba(0, 0, 0, 0.173);
}

p {
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  margin: 0;
  font-family: PublicSans;
  color: #000000;
}

span {
  font-weight: 200;
}

.SelectBoard {
  font-size: 18px;
  background-color: #EB8D6C;
  padding: 16px;
  width: 1fr;
  height: 31px;
  left: 0px;
  line-height: 150%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #391204;
 
  margin: 5% 10% 0% 10%;
  border-top: 2px solid #e76c42;
  border-left: 2px solid #e76c42;
  border-right: 2px solid #e76c42;
  font-family: PublicSans;
  min-height: 30px;
}

.SelectedBoard {
  font-size: 18px;
  background-color: #EB8D6C;
  padding: 16px;
  width: 1fr;
  height: 55px;;
  left: 0px;
  line-height: 150%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #391204;
 
  margin: 5% 10% 0% 10%;
  border-top: 2px solid #e76c42;
  border-left: 2px solid #e76c42;
  border-right: 2px solid #e76c42;
  font-family: PublicSans;
  min-height: 30px;
}

@font-face {
  font-family: PublicSans;
  src: url('./PublicSans-VariableFont_wght.ttf');
  font-display: swap;
}

/* Scroll Bar Styling */
/* width */
::-webkit-scrollbar {
  width: 2em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBCAA8; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A7DC9D; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A7DC9D; 
}