.App {
  text-align: center;
  background-color: #EB8D6C;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  width: 542px;
  height: 138px;
  left: 165.21px;
  /* top: 192.3px; */

  font-family: Public Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 92px;
  line-height: 150%;
/* identical to box height, or 138px */

  letter-spacing: -8.5px;
  text-transform: uppercase;

  color: #030303;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  /* display: flex;
  flex-direction: row; */
  background-color: #F6F6F6;
  height: 1335.27px;
  width: 1320px;
  left: 60px;
  top: 96.73px;
  box-shadow: 38px 50px 90px 80px rgba(114, 42, 16, 0.26);
  border-radius: 20px;
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

html {
  background-color: #EB8D6C;
}

.BoardList {
  grid-area: 2 / 1 / 3 / 2;
  border: 1px solid red;
}

.NewBoardForm {
  grid-area: 2 / 2 / 3 / 3; 
  border: 1px solid red;
}

.CardList {
  grid-area: 3 / 1 / 4 / 3;;
  border: 1px solid red;
}